:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: url(https://i.imgur.com/R8aTAHT.jpg);
  background-position: top;
}

.main{
  display: grid;
  grid-template-columns: 20% 80%;
}

.sidebar{
  margin-top: 1.75rem
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  
  .search-button {
      @apply relative flex items-center justify-center h-10 w-10 mt-2 mb-5 mx-auto shadow-lg bg-orange-400 hover:bg-orange-300 rounded-2xl hover:rounded-lg transition-all duration-300 ease-linear cursor-pointer;
  }

  button{
    @apply flex items-center justify-center mt-2 mb-2 mx-auto p-1 shadow-lg bg-orange-400 hover:bg-orange-300 rounded-xl hover:rounded-lg transition-all duration-300 ease-linear cursor-pointer text-white font-bold py-2 px-4;
  }

  input {
    @apply block mx-auto w-full border-solid border-2 border-orange-300 rounded-md m-2 p-0.5;
  }

}

/* Styling for small screens for Show page */
@media screen and (max-width: 640px) {
  .text-4xl {
    font-size: 2.25rem;
  }
  .text-lg {
    font-size: 1.125rem;
  }
  .w-62 {
    width: 100%;
  }
  .w-1\/3 {
    width: 100%;
  }
  .w-1\/2 {
    width: 90%;
  }
  .text-md {
    font-size: 0.875rem;
  }
  .mt-7 {
    margin-top: 1.75rem;
  }
  .w-2\/5 {
    width: 90%;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .sidebar{
    margin: 10px;
  }
}

